<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>33955444768-77bnjqtomfd7kp855ctfu3bb48d3eml9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.33955444768-77bnjqtomfd7kp855ctfu3bb48d3eml9</string>
	<key>API_KEY</key>
	<string>AIzaSyACsqpP6zc3mPMKwtzH58Jjj8vouls1AuE</string>
	<key>GCM_SENDER_ID</key>
	<string>33955444768</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.govTrackSa</string>
	<key>PROJECT_ID</key>
	<string>govtracksa</string>
	<key>STORAGE_BUCKET</key>
	<string>govtracksa.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:33955444768:ios:82b8283614421250dc6445</string>
</dict>
</plist>